#filterButtons button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(101,52,230,0.7);
  transition: 0.3s;
}

#filterButtons button.active,
#filterButtons button:hover {
  background: linear-gradient(45deg, #2575fc, #6a11cb);
  box-shadow: 0 4px 12px rgba(101,52,230,1);
}

.video-item {
  margin: 20px 0;
}
